body
{
    background: #000;
    color: #000;
    margin: 5;
    font-family: Roboto;
    text-align: center;
    background-color: #f0f0f0;
}

#header
{
	font-size: 40px;
	height: 100px;
}

#projects
{
	text-align: left;
	font-family: Roboto;
	font-size: 15px;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#bottombar
{
	padding: 15px;
	position: relative;
	clear: left;
	font-family: Roboto;
	font-size: 14px;
	text-align: center;
}

.project
{
	font-size: 15px;
	font-weight: normal;
}

.title
{
	margin-left: 2.5%;
	height: 400px;
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.imagelinksL
{
	float: left;
	height: 300px;
	width: 600px;
	margin-right: 35px;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
}

.imagelinksR
{
	float: right;
	height: 300px;
	width: 600px;
	margin-left: 35px;
	box-shadow:rgba(0,0,0,0.5) 0px 0px 24px; 
}

a:link 
{
	text-decoration:none;
	color: #41608C;
}

a:visited 
{
	text-decoration:none;
	color: #41608C;
}

a:hover 
{
	text-decoration:underline;
	color: #5F8DCF;
}

a:active
{
	text-decoration:underline;
	color: #5F8DCF;
}