body
{
    background: #000;
    color: #000;
    margin: 5;
    font-family: Garamond;
    text-align: center;
    background-color: #f0f0f0;
}

#header
{
	font-size: 40px;
}

#selfpic
{
	float: left;
	padding: 10px;
	height: 400px;
	width: 380px;
}

#bottombar
{
	padding: 15px;
}

.text
{
	font-family: Verdana;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
	margin-left: 20%;
	margin-right: 20%;
}

.title
{
	margin-left: 2.5%;	
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
	height: 400px;
}

.para
{
	padding: 10px;
}